<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#"
    th:action="@{/process}"
    th:object="${tweetmessage}"
    method="post">

    <input type="hidden" th:field="*{id}" />
   Your tweet : <textarea rows="3" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />

    Your name :<input type="text" th:field="*{postedby}"/>
    <span th:if="${#fields.hasErrors('postedby')}"
          th:errors="*{postedby}"></span><br />

    <input type="submit" value="Submit"/>
</form>
</body>
</html>